<div class="row">
	<ul class="list-group">
		<li class="list-group-item list-group-item-warning text-center"><h4>ジャンル検索</h4></li>

		 <li class="list-group-item text-center">

		  <% genres.each do |genre| %>
             	<h5 class="panel-body">

				<%= link_to products_path(genre.id) do %>

				<%= genre.name %>

				<% end %>

			   </h5>
		  <% end %>

	    </li>
   </ul>
</div>





