<div class="row">
	<ul class="list-group">
		<li class="list-group-item">ジャンル検索</li>
		<li class="list-group-item">

		  <% genres.each do |genre| %>
             <li>
				<%= link_to user_genre_path(genre.id) do %>
				<%= genre.name %>
				<% end %>
             </li>
		  <% end %>

	    </li>
   </ul>
</div>