<div class="row">
	<ul class="list-group">
		<li class="list-group-item">ジャンル検索</li>
		<li class="list-group-item">


		  <% genres.each do |genre| %>
		    <div class="?">
			  <%= link_to ? %>
		    </div>

		  <% end %>

	    </li>
   </ul>
</div>

<!-- ? 分からないところ -->