<footer class="footer navbar navbar-fixed-bottom navbar-inverse" style="background-color:#3d2c26;color: #fff;">
  <div class="container">
    <nav class="text-center">
      <ul class="nav navbar-nav navbar-right footer-title">
        <li>ご利用規約</li>
        <li>ご利用ガイド</li>
        <li>よくある質問</li>
        <li>お問い合わせ</li>
      </ul>
    </nav>
  </div>
</footer>