<footer class="footer navbar navbar-fixed-bottom navbar-inverse">
  <div class="container">
    <nav class="text-center">
      <ul class="nav navbar-nav navbar-right">
        <li>ご利用規約</li>
        <li>ご利用ガイド</li>
        <li>よくある質問</li>
        <li>お問い合わせ</li>
      </ul>
    </nav>
  </div>
</footer>